{# Étendez ici le layout de base si vous en avez un #}
{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}



{% block body %}

    <div class="row col-md-10 mx-auto">
		{% include "flash.html.twig" %}

       <form method="post" action="{{ path('app_profile_edit_pwd') }}">
  <div class="form-group">
    <label for="pwd1">Nouveau mot de passe</label>
    <input type="password" class="form-control" id="password1"  name="password1" placeholder="Doit comprendre au moins 6 caractères dont un nombre et un caractère spécial /[!@#$%^*-]/">
  </div>
  <div class="form-group">
    <label for="pwd2">Répéter mot de passe</label>
    <input type="password" class="form-control" id="password2"  name="password2" placeholder="Répéter mot de passe">
  </div>
  
  <button type="submit" class="btn btn-primary">{{'submit'|trans}}</button>
</form>

    </div>

{% endblock %}
